# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/*.log
tests/logs/*.log
!tests/logs/.gitkeep

# ==========================
# Reports
# ==========================
reports/*
!reports/.gitkeep

# ==========================
# Backups
# ==========================
backups/*
!backups/.gitkeep

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Docker
# ==========================
*.pid